{% extends 'base.html' %}
{% block head %}
<title>4chan Hacker</title>
{% endblock %}

{%block body%}
<div class="container jumbotron mt-3">
  <h1 class="display-4">4chan Hacker</h1>
  <p class="lead">This is a website to download images from 4chan.org webpage</p>
  <hr class="my-4">
  <p>Insert link to download images or click on Gallery to go to images gallery</p>
  <form class="form-inline" action="/input" method="POST">
    <input class="form-control mr-2" type="text" name="link" id="link" placeholder="Insert link">
    <input class="btn btn-outline-primary my-2" type="submit" value="Download">
    <a class="btn btn-outline-dark ml-2"href="/gallery">Gallery</a>
  </form>
</div>

{% endblock %}
