{% extends 'base.html' %}

{% block head %}
<title>Finished Download</title>
{% endblock %}

{% block body %}
<div class="container">
  <br>
  <h2 class="text-info">List of images urls</h2>
  {% for url in urls %}
  <small><a href="{{'http:' + url}}">{{'http:' + url}}</a></small><br>
  {% endfor %}
  <hr>
  <p>Click Home to return to main page or go to images gallery</p>
  <a class="btn btn-primary" href="/">Return Home</a>
  <a class="btn btn-dark"href="/gallery">Gallery</a>
  <br>
  <hr>
</div>

{% endblock %}
