body{
  font-family: sans-serif;
  color: indianred;
}

img{
  border: 0;
  max-width: 100%;
}

.navbar-nav{
  flex-direction: row;
}

.navbar-nav *{
  margin-right: 10px;
}

.spinner-border{
  display: none;
}
